orm
body, html { background: #ffffff url(../images/bg.png) repeat-x; font: 12px Arial; color:#777777; line-height: 1.4; }
strong {font-weight: bold;}
.blue { color:#2e6aa5; text-decoration:none; }
A.blue { color:#2e6aa5; text-decoration:none; }

a.hiddenlink {text-decoration:none; color: #777 !important;}

.ProductTable.Disaster.Recovery .PropertyName {width: 88px;}

A.blue:HOVER { color:#2e6aa5; }
h1 { font: 36px Arial; font-weight:normal; color: #ff8834; padding-bottom: 12px; }
	.productContent h1{ font: 20px Arial; font-weight: normal; color: #ff8834; padding-bottom: 4px;}
	h1.asH2{ font: 20px Arial; font-weight: normal; color: #ff8834; padding-bottom: 10px; display: block;}
h2 { font: 20px Arial; font-weight: normal; color: #ff8834; padding-bottom: 4px;}
h3 { font: 16px Arial; font-weight: normal; color: #2e6aa5; margin-bottom:4px; }
h4 { font: 12px Arial; font-weight: bold; color: #666666; }
td { font: 12px Arial; color:#777777; line-height: 1.4; }
div { font: 12px Arial; color:#777777; line-height: 1.4; }
p { font: 12px Arial; color:#777777; line-height: 1.4; margin-bottom: 10px; margin-top:10px; }
em {font-style: italic;}

li.our-services {text-decoration:underline;}

h3.shiftRight {margin-left:16px;}

a{ color:#2e6aa5; text-decoration:none; }
a:visited { color:#2e6aa5; text-decoration:none; }
a:hover { color:#2e6aa5; text-decoration:underline; }
a:active { color:#2e6aa5; text-decoration:none; }
label { width: 200px; float: left; }
.clear { clear: both; }
#wrapper { width: 1000px; margin: 0 auto; margin-bottom: 80px; }
#topBar { width: 900px; height: 84px; padding-left: 64px; padding-right: 36px; background: url(../images/headerBg.png); }
#logoBox { width: 168px; height: 64px; float: left; padding-top: 8px; background: url(../images/log---o.png) no-repeat 0 8px; }
#topBarRightBox { height: 32px; padding-top: 20px; padding-bottom: 20px; width:730px; float: right; }
#menuBox { height: 32px; }
#menu li {border-right: 1px solid #ccc;}
#menu li, #shoppingInfo li { font: 11px Arial; color: #f1f1f1; height: 12px; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; float: left; }
#menu li a:link, #shoppingInfo li a:link { color: #f1f1f1; text-decoration:none; }
#menu li a:visited, #shoppingInfo li a:visited { color: #f1f1f1; text-decoration:none; }
#menu li a:hover, #shoppingInfo li a:hover { color: #f1f1f1; text-decoration:underline; }
#menu li a:active, #shoppingInfo li a:active { color: #f1f1f1; text-decoration:none; }
#shoppingInfo li a {padding-left: 24px; background: url(/images/BasketIcon.png) left center no-repeat;}
.menuItemSeparator { width: 1px; height: 32px; display: inline; background: #ccc; float: left; }
.basketIcon { height: 16px; padding-top: 8px; padding-left: 20px; float: left; }
#contentTop { width: 1000px; height: 32px; margin-top: -8px; background: url(../images/topBg.png); }
#contentMiddle { width: 936px; padding-left: 32px; padding-right: 32px; background: url(../images/middleBg.png) repeat-y; }
#header { width: 936px; height: 190px; margin-bottom: 24px; }
#headerText { float: left; width: 450px; }
#mainSection { width: 936px; overflow:hidden; }
#mainSection2ColLeft { width: 696px; float: left; overflow: hidden;}
#mainSection2ColLeft3Col { width: 696px; height: 128px; background: url(../images/3ColBg---Copy2.jpg); }
.mainSection2ColLeft3ColLeft { width: 159px; height: 112px; padding: 8px 57px 8px 16px; float: left; position: relative; position: relative; }
.mainSection2ColLeft3ColLeft:hover {text-decoration: none;}
.readMore {color: #2E6AA5; position:absolute; bottom: 10px; left: 16px;}
a div:hover .readMore {color: #FF8834;}
.mainSection2ColLeft3ColMiddle { width: 136px; height: 112px; padding: 8px 80px 8px 16px; float: left;  position: relative;}
.mainSection2ColLeft3ColRight { width: 139px; height: 112px; padding: 8px 77px 8px 16px; float: right;  position: relative;}

.productContent ul {margin-left: 10px; line-height: 1.8;}
.productContent li {background:url(/images/bullet.png) left center no-repeat; padding-left: 10px;}
.productContent {padding-top: 10px;}
.productContent .right {float:right;}
.productContent .left {float:left;}
.productContent h2 { padding-bottom: 10px; padding-top: 20px;  }
.productContent h3 { padding-bottom: 10px; padding-top: 20px; font: 15px Arial; font-weight: bold; color: #ff8834; }
.productContent h4 { font: 14px Arial; font-weight: bold; color: #2e6aa5; margin-bottom:5px; margin-top: 10px; }
.productContent h5 { font: 14px Arial; font-weight: normal; color: #333; margin-bottom:5px; }
 /*
h2 { font: 20px Arial; font-weight: normal; color: #ff8834; padding-bottom: 4px;}
h3 { font: 16px Arial; font-weight: normal; color: #2e6aa5; margin-bottom:4px; }
h4 { font: 12px Arial; font-weight: bold; color: #666666; }
*/
.telephone-answering {background-image: url(/images/service-2.jpg);}
.call-patching {background-image: url(/images/service-3.jpg);}
.teleconferencing {background-image: url(/images/service-1.jpg);}
.order-taking {background-image: url(/images/service-12.jpg);}
.virtual-address{background-image: url(/images/service-6.jpg);}
.fax-to-email {background-image: url(/images/service-5.jpg);}
.voicemail-box {background-image: url(/images/service-4.jpg);}
.brochure-request{background-image: url(/images/service-10.jpg);}
.outbound-calling {background-image: url(/images/service-8.jpg);}
.other-services {background-image: url(/images/service-7.jpg);}

#mainSection2ColLeftAboutImage { width: 256px; float: left; }
#mainSection2ColLeftAboutDescription { width: 408px; float: right; padding-left: 32px; }
.mainSection2ColLeftServiceImage { width: 128px; float: left; }
.mainSection2ColLeftServiceDescription { width: 536px; float: right; padding-left: 32px; }
.mainSection2ColLeftNewsImage { width: 160px; float: left; }
.mainSection2ColLeftNewsDescription { width: 504px; float: right; padding-left: 32px; }
#mainSection2ColLeftContactLeft { width: 100px; float: left; }
#mainSection2ColLeftContactRight { width: 500px; float: right; }
#mainSection2ColRight { width: 216px; float: right; }
#sideBarBoxTop { width: 216px; height: 8px; background: url(../images/sideBarBoxTopBg.png); }
#sideBarBoxMiddle { width: 184px; padding: 8px 16px; background: url(../images/sideBarBoxMiddleBg.png); }
#sideBarBoxMiddle em {font-style: italic;}
#sideBarBoxBottom { width: 216px; background: url(../images/sideBarBoxBottomBg.png); height: 8px; }
#contentBottom { width: 1000px; height: 32px; background: url(../images/bottomBg.png); }

#breadcrumb h3 {font-size: 10px; color: #aaa;}
#breadcrumb h3 a {color: #aaa;}
#breadcrumb h3 a:hover {text-decoration: none; color: #2E6AA5;}

.BuyLink {width: 44px; height: 14px; display: block; text-indent: -9999px; background: no-repeat url(/images/shop/basket_add.png); margin-top: 3px;}
.ProductTable th {font-weight: bold; padding: 3px; vertical-align: middle;}
.ProductTable .VariationHeader {}
.ProductTable td {padding: 3px; vertical-align: middle;}
.ProductTable {width: 100%;}

#questionnaire {width: 620px;}
#questionnaire label {width: 300px; margin-right: 10px;}
#questionnaire .formField {overflow: hidden;}
#questionnaire .formField input {width: 300px;}
#questionnaire .formField select {width: 307px;}
#questionnaire .formField textarea {width: 300px; height: 100px;}
#questionnaire .formField {margin-bottom: 10px;}
.QuestionnaireSubmit {float:right;}

.form_input {margin-bottom: 10px;}


/*BLOG */
.navigatorLinksLinkStyle { font-size:small; }
.titleListLinkStyle { font-size:small; }
.hCalendarStyle { font-size:small; }
.hCalendarMonthYearRow { font-size:small; }
.lCalendarMonthYearRow { font-size:small; }
.lCalendarStyle { font-size:small; }
.archiveLinksLinkStyle { font-size:small; }
.categoryListLinkStyle { font-size:small; }
.blogRollCellStyle { font-size:small; }
.blogRollNestedOutlineTitleStyle { font-size:small; }
.signInLabelCellStyle { font-size:small; }
.siteName { color:#FF8834; font-size:large; font-weight:bold; }
.adminNavbarStyle { padding-bottom:10px; padding-top:5px; }
.adminNavbarStyle ul { margin:0; padding:0; text-align:center; }
.adminNavbarStyle ul li { border-left:1px solid Gray; display:inline; font-size:8pt; list-style-type:none; padding-left:0.25em; padding-right:0.25em; }
.adminNavbarStyle ul li.first, .adminNavbarStyle ul li.firstHere { border-left:medium none; }
.commentBoxFooterStyle { border-top:1px dashed #DDDDDD; font-size:12px; margin-top:5px; padding-top:3px; width:100%; }
.commentBoxStyle { background-color:#FCFCFC; border:1px solid #DDDDDD; color:#333333; font-size:13px; font-weight:normal; margin-bottom:25px; padding:15px 20px; text-decoration:none; }
.commentDateStyle { border-bottom:1px dashed #DDDDDD; font-size:12px; margin-bottom:5px; padding-bottom:3px; text-align:right; width:100%; }
.configControlStyle { }
.configLabelColumnStyle { vertical-align:top; }
.configLabelStyle { font-size:9pt; margin-right:10px; }
.configSectionStyle { background-color:#FCFCFC; border:1px solid #DDDDDD; margin-bottom:15px; padding:15px; vertical-align:middle; }
.configSectionTitleStyle { border-bottom:1px solid #FF8834; color:#FF8834; font-size:medium; font-weight:bold; margin-bottom:10px; padding-bottom:5px; }
.pageTopic { border-bottom:1px solid #FF8834; color:#FF8834; font-size:large; font-weight:bold; margin-bottom:10px; padding-bottom:5px; width:100%; }
.categoryLinks { clear:both; color:gray; text-align:right; }
.dayHeader { color:#FF8834; }
.dayItems { padding-bottom:2em; }
.FreeTextboxStyle { color:#000000; }
.item { margin-top:1em; }
.item img { display:inline; }
.itemContents { background-color:#FCFCFC; font-size:small; margin:1.5em 1em 1em; text-align:justify; }
.itemFooter { border-top:1px solid #DDDDDD; color:gray; font-size:x-small; margin-top:0.5em; text-align:right; }
.itemTitle, .dayHeader { font-size: 12px; font-weight:bold; margin-bottom: 5px; }
.side { font-size:small; margin:1em; }
.sideBar { width:15em; }
.statsTableColumnStyle { border:1px solid gray; margin-bottom:3px; margin-top:3px; padding:3px; }
.statsTableDateColumnStyle { border:1px solid gray; margin-bottom:3px; margin-top:3px; padding:3px; text-align:left; width:25%; }
.statsTableFooterColumnStyle { border-color:#DDDDDD; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; border-style:solid; border-width:2px 1px 1px; font-weight:bold; padding:3px; }
.statsTableFooterNumColumnStyle { border-color:#DDDDDD; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; border-style:solid; border-width:2px 1px 1px; font-weight:bold; padding:3px; text-align:right; width:15%; }
.statsTableHeaderColumnStyle { border-color:#DDDDDD; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; border-style:solid; border-width:1px 1px 2px; font-weight:bold; padding:3px; }
.statsTableNumColumnStyle { border:1px solid gray; margin-bottom:3px; margin-top:3px; padding:3px; text-align:right; width:15%; }
.statsTableStyle { background:none repeat scroll 0 0 White; border:1px solid #DDDDDD; border-collapse:collapse; margin-bottom:15px; padding:15px; width:100%; }
.geekcode { color:#FF8834; font-family:'Courier New', 'Courier', sans-serif; font-size:10px; font-weight:normal; line-height:100%; margin-bottom:0; padding-bottom:0; padding-top:5px; }
.zg_div { margin:0 5px 5px 0; width:117px; }
.zg_div_inner { color:#666666; font-family:arial, helvetica; font-size:11px; text-align:center; }
.zg_div a, .zg_div a:hover, .zg_div a:visited { background:inherit !important; color:#0063DC; text-decoration:none !important; }
.feedburnerFlareBlock { color:gray; font-size:x-small; margin-top:0.5em; }
.smallestTag { font-size:x-small; font-weight:normal; line-height:110%; }
.smallerTag { font-size:x-small; font-weight:bold; line-height:110%; }
.smallTag { font-size:small; font-weight:normal; line-height:110%; }
.mediumTag { font-size:medium; font-weight:normal; line-height:110%; }
.largeTag { font-size:large; font-weight:normal; line-height:110%; }
.largerTag { font-size:x-large; font-weight:normal; line-height:110%; }
.largestTag { font-size:x-large; font-weight:bold; line-height:110%; }
div#places-map-header { font-size:12px; font-weight:bold; }
span.commentViewLabelStyle code { white-space:normal; }
* html .itemBody { height:1%; }
.commentViewBoxStyle input { border:1px solid #CCCCCC; }
.clear { clear:both; }
.smallestTag { font-size:x-small; font-weight:normal; line-height:110%; }
.smallerTag { font-size:x-small; font-weight:bold; line-height:110%; }
.smallTag { font-size:small; font-weight:normal; line-height:110%; }
.mediumTag { font-size:medium; font-weight:normal; line-height:110%; }
.largeTag { font-size:large; font-weight:normal; line-height:110%; }
.largerTag { font-size:x-large; font-weight:normal; line-height:110%; }
.largestTag { font-size:x-large; font-weight:bold; line-height:110%; }
.openidtextbox { background:url("../../images/openid-icon-small.gif") no-repeat scroll 0 50% #FFFFFF; padding-left:18px; }
.openidtextboxwrap { padding-right:18px; }
.hentry {margin-bottom: 15px;}
#wp-calendar {width: 100%; text-align: center}
#wp-calendar tbody, #wp-calendar thead {padding: 5px; }
#wp-calendar td, #wp-calendar th {padding: 2px; text-align:center; vertical-align: middle;}
#wp-calendar th {font-weight: bold;}
#wp-calendar tbody td a {font-weight: bold;}
td#prev {text-align: left;}
td#next {text-align: right;}
caption {font-weight: bold; text-align: center; margin-bottom: 5px;}
#container ul {list-style: outside disc; padding-left: 30px;}

/* Sam's CSS */

#mainSectionFullWidth { margin: 0 auto 30px }
#ProductTableBox { border: 1px solid #E5E5E5; padding: 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width: 93%; margin: 15px auto }
.ProductTable {  background: #f3f3f3; border-collapse: collapse }
	.ProductTable td, 
	.ProductTable th { vertical-align: top; background: #F3F3F3; padding: 5px 4px; border: 1px solid #FFF }
	.ProductTable th { background: #E7E7E7; font-size: 11px; padding: 4px }
	.ProductTable .ProductHeader { font-size: 12px; color: #777; padding: 4px 6px }
	
	.ProductTable .PropertyName { font-weight: normal }
	.ProductTable .AttributeValue { font-weight: bold; padding-left: 10px }

.productContent { padding-top: 0 }
.productContent h2 { padding-top: 0 }

.productContent table {border:solid #ddd; border-width: 1px; padding: 0px 0px 1px 1px;}
.productContent table td {border:solid #fff; border-width: 1px 1px 0px 0px; padding: 3px; background:#F3F3F3; vertical-align: middle;}
.productContent table th {border:solid #fff; border-width: 1px 1px 0px 0px; font-weight: bold; background: #E7E7E7; padding: 3px;}

.ProductTable.Telephone.Answering .PropertyName {width: 100px;}
.ProductTable.Order.Taking .PropertyName {width: 150px;}
.ProductTable.Call.Patching .PropertyName {width: 200px;}
.ProductTable.Prestigious.Address th {width: 114px;}
/*.leftFloat {float: left;}
.cost.leftFloat {width: 45px;}
.BuyLink.leftFloat {margin-left: 10px; margin-top: 2px;}*/

/* Terms and conditions */

.absolute.submitButton { float:left; width: 662px; border: 7px solid #EEEEEE; position: relative; top: 10px; padding: 10px;  }
#findMe { margin: 0!important }
	#findMe label { float: none; width: auto }
#validateMe { float: left; margin-right: 6px; border: 0 }
.absolute .coolButton { position: absolute; top: 6px; right: 6px; width: 50px }
#errorMessage { margin-bottom: 0!important; font-weight: bold; color: #cc0000; }

.terms-and-conditions { padding:0 10px 10px; }
.terms-and-conditions h2 {margin-bottom: 10px;}
.terms-and-conditions ol {margin: 10px 10px 20px 40px;}
.terms-and-conditions li { list-style-type: decimal;}

.remove-item { padding: 3px; padding-left: 20px; float: left }

.payment-navigation {float: right; width: auto;}
.payment-navigation .coolButton {float: left; margin-left: 10px;}
.payment-navigation a.coolButton {padding: 5px;}

td.quantity, .basketQty {text-align: center;}

.buttonHome:hover {text-decoration: none; cursor: pointer;}

.relatedProductsList {margin-top: 20px;}
li.relatedProducts {overflow: hidden; margin-bottom: 10px;}
li.relatedProducts:hover .link {color: #FF8736;}
li.relatedProducts a:hover {text-decoration: none; color: #FF8736;}
span.relatedProd {float: left; width: 50px; height: 70px; background-position: -149px -62px ; background-repeat: no-repeat; margin-right: 10px;}
a.relatedProd:hover {text-decoration: none;}
li.relatedProducts p.link {color: #2E6AA5;}

.relatedProductList {margin-top: 20px; }
.relatedProductList li {border-bottom: 1px solid #ccc; background: url(/images/grad.jpg) top left repeat-x; width: 314px; height: 78px; float: left;border: #ccc 1px solid; padding: 10px; margin-bottom: 10px; margin-right: 10px;}
.relatedProductList li.last {}
#shop .relatedProductList h3 {margin-bottom: 5px;}
#shop .relatedProductList p {margin-top: 0; margin-bottom: 2px;}
.relatedProdImge {float: left; width: 47px; height: 72px; margin-right: 10px; }
.relatedProdImge img {margin-left: -90px; margin-top: -6px;}
.blueHeading {color: #2E6AA5;}
.relatedCategoriesDiv {clear:both; overflow: hidden; padding-top: 10px;}


.form_main.form_orders .form_label {float: left; width: 116px;}
.form_main.form_orders .form_input {overflow: hidden;}

    
ul.bullet li {
line-height: 1.8;
    margin-left: 10px;
  background: url("/images/bullet.png") no-repeat scroll left center transparent;
    padding-left: 10px;}
	
	.shade_control {margin-bottom: 10px; display: block; color: #FF8834; font-weight: bold; text-transform: capitalize; cursor: pointer;}
	
	
.disaster-recovery-1 {width: 185px; padding-right: 31px;}
.disaster-recovery-1 p {padding-right: 20px;}

.footerCallMore {color: #FF852F; font-size: 16px; display: block; margin: 5px 0;}
.companyNo {color: #777777; font-size: 12px; line-height: 16px; display: block;}
.imagesFotter {float: right; }
.imagesFotter img {margin-left: 10px;}
.semiFooter {float: left;}
.underContent {overflow: hidden}