@charset "utf-8";
/* CSS Document */

#shopCategories { width: 208px }
#shopCategories h2 { width: 210px }

#shop { margin: 0; overflow: hidden }
#shop h2 { width: 700px; }
#shop h2 a { text-decoration: none; color: #FFF }
#shop h3 { margin-bottom: 10px; font-size: 14px; font-weight: bold }
#shop ul { padding: 0; margin-bottom: 0 }
#shop p { margin: 10px 0 }
#shop form { margin-bottom:10px; overflow: hidden; padding-bottom: 20px;}
#shop table { width: 100% }

.coolButton, coolButton a, a.coolButton{-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px; background: #ff9e5c; border:0 none; font-family:arial; font-size:10px; font-weight:bold; padding:5px; text-transform:uppercase; cursor: pointer; outline: none; color: #fff;}
.coolButton:hover {background:#FF8736; text-decoration: none; color: #fff;}

.billingAddy {margin-top: 5px;}

a.coolButton {padding: 6px;}

.shop .last { }
.shop .last h2 {width: 700px;}
.shop .last .order a, .shop .download-link a {color: #000; text-decoration: underline;}
.shop .last .order a:hover, .shop .download-link a:hover {text-decoration: none;}
.shop .download-link td {width: 230px;}
.shop .download-link td + td {width: 80px;}

.pagination { padding-top: 10px; clear:both;display:block;width:720px; position:relative;text-align:center}
.pagination .NextPage {float: right; color: #fff; margin-right:0;}
.pagination .PreviousPage {float: left; color: #fff; margin-left: 0}
.pagination .pagenumbers a {color: #444; line-height: 23px; margin: 0 1px}
.pagination .pagenumbers a.selected {font-weight: bold; color: #000;}
.pagination .previouslink, .pagination .nextlink { margin: 0 auto; text-align:center; vertical-align:top; width: 200px; position:absolute }
.pagination .previousLink { float: left;left:0 }
.pagination .nextlink { float: right;right:0 }
.pagination .pagenumbers {padding-bottom: 3px;}


.buttons { overflow: hidden }
.buttons li { text-align: center; font-weight: bold; margin: 0 0 3px }
.buttons li a, .buttons input[type=submit] { text-decoration: none; color: #222; border: 1px solid #AAA; display: block; text-transform: uppercase; font-size: 11px; padding: 5px; background: #EEE; margin-bottom: 5px; }
.buttons li a:hover { border: 1px solid #888; background: #DDD }
.buttons li a img {float: right;  }
#productDetail { overflow: hidden; margin-top: 10px; width: 720px }
#pdContent { float: left;  margin-right: 10px; margin-top: 10px; }
#pdContent h3 { font-size: 14px; margin-top: 15px }
#pdContent p { margin: 15px 0; font-size: 12px; line-height: 1.4 }

#productImage {float:left;}

#pdSidebar h2 {margin-bottom: 10px;}

/*///// MIKES STUFF //////*/

#contentRegister, #contentLogin, .formSection-Personal, .formSection-Billing, .userprofile form, .formSection-Company.Information {width: 325px; display: block; float: left; margin: 0 } 
.formSection-Personal {width: 321px; margin-right: 30px;}
.formSection-Company.Information {float: left;}
#contentLogin {float:right;}
.form_input input[type=text], .form_input input[type=password], .basket input[type=text], textarea, .formSection-Billing select {width: 200px;}
.formSection-Personal  input[type=text] {width: 195px;}
.formSection-Billing input[type=text], .formSection-Billing textarea {width: 195px;}
.formSection-Billing select {width: 201px;}
.form_notes, .form_error { margin-bottom: 5px }
.form_notes {color: #444; font-size: 10px;}
.form_error { font-weight: bold; }	
.form_row {overflow: hidden;}

input, textarea, select {border: 1px solid #ccc; padding: 3px; }
.form_label {margin-bottom: 5px; margin-top: 5px; cleaR: both; }

.basket { margin-bottom: 15px; }
.basket thead tr {height: 20px;}	
.basket thead tr th  {font-weight: bold; color: #777; border-bottom: 1px solid #ccc;}
.basket tr { height: 40px; }
.basket td {vertical-align:middle; border-bottom: 1px solid #ccc;}	
.basket .item , .basketItem {width: 350px; padding: 5px 0 }
.basket .quantity, .basket .price, .basketQty, .basketPrice {width: 90px;}
.basket input[type=text] {width: 20px;}
.basket .totalCost {font-weight: bold;}
.form_orders .formSection-Billing + .submitButton {clear:both; float: right;}

.detailstd {width: 120px;}
.form_footer a {color: #555; display: block; margin-top: 5px; float: left}
.form_footer a:hover {color: #000;}
.formButtons { text-align: right; margin-top: 10px; overflow: hidden;  }
.form_footer a:hover {text-decoration: none;}
#productTitle { margin-bottom: 10px;}
#productArtists a { color: #000 }
#categories a {color: #000;}
#categories a:hover, .basket a:hover {text-decoration: none;}
#categories ul ul {margin-left: 15px; list-style-type:disc;}

.productThumbs { clear: both; overflow:hidden }
.productThumb { float: left; margin-right: 3px }

.basket-label { margin-top: 2px; display: block }
.basket-label a { color: #2E6AA5 }
.basket .item .buttons { width: 90px; margin-top: 5px; }
.basket .item .buttons li { margin: 0 }
.basket .item .buttons li a { margin-bottom: 0 }
.basket-image { float: left; margin-right: 10px }

.basketPrice,.checkoutPrice,.price { text-align: right }

.errors p:first-child, .form_error, .error p {color: #C00; clear:both;}
.errors p:first-child, {margin-top: 0; font-size: 12px; font-weight: bold }

.payment-method { padding-top: 10px;  padding-bottom: 10px; border-bottom: 1px solid #ccc }
.payment-method label {float: none;}

#shop.cardDetails {margin-top: 10px}
.cardDetails .form_main  {width: 326px;}
.cardDetails .form_input select {width: 206px;}
.cardDetails .card_expirymonth, .cardDetails .card_frommonth, .cardDetails .card_expiryyear, .cardDetails .card_fromyear {display: inline-block; padding-right: 5px; float: left;}
.cardDetails .card_expirymonth select, .cardDetails .card_frommonth select, .cardDetails .card_expiryyear select, .cardDetails .card_fromyear select {width: 80px; float: left;}
.cardDetails .coolButton {float: right;}

table.download-link a {color: #09F; text-decoration: underline; padding-left: 15px; background: url(/images/download.png) left center no-repeat;}
table.download-link a:hover {text-decoration: none;}

.DownloadSmallCol {text-align: center;}

.formSection-Change .form_label {width: 145px;}

.order a {color: #09F; text-decoration: none;}
.order a:hover {text-decoration: underline;}

.details {float:left; width:275px;line-height: 1.6}  

.tracks {float:left; width: 420px; }
.tracks li {float:left; padding-left: 10px; line-height: 1.6;}
.tracks li a:hover {text-decoration: none; color: #FF8834;}

#shop.cardFailed h3 {color: #3779D0;}
#shop.cardFailed ul {margin-bottom: 10px}
#shop.cardFailed p.button {padding-top: 10px; padding-bottom: 10px; width: 610px; text-align: right;}
#shop.cardFailed .headerText {margin-bottom: 5px;} 
#shop.cardFailed .headerText {margin-bottom: 5px;} 

.formSection- {clear:both;}
.formSection- .form_row.dropdownfield.prefered_contact.ok  .form_label{width:160px; text-align:left;}
.formSection- .form_row.dropdownfield.prefered_contact.ok  .form_input{width:300px; padding-left:10px;}
#customer-details-thank-you {margin:20px 0 !important ; float:left}