@charset "utf-8";
/*
	* Filename: skint-ent.css
	* Description: Global CSS
	* Date: (2010-07-27)
	* Website: http://www.skintentertainment.com/
	* Author: BozBoz
*/

body { font: 12px Arial; text-align: left }
h2 { overflow: hidden }
strong { font-weight: bold }
a {	text-decoration: none; }

/* Header section */

#header { background: #FFF; height: 135px; padding: 0 }
	#header .side { position: absolute; width: 50%; height: 135px }
	#header .side.left { background: url('../images/top_pattern.png') repeat-x; left: 0 }
	#header .side.right { background: url('../images/top_pattern2.png') repeat-x; right: 0 }
	#header .inner { position: relative; overflow: visible; height: 135px }
	#header h1 { overflow: hidden; position: absolute; left: 50%; margin-left: -132px; background: url('../images/skint-ent_logo.png') no-repeat; width: 265px; height: 133px; text-indent: 265px; line-height: 133px }
	#header h2 { position: absolute; text-align: left }
		#header h1 a,#header h2 a { display: block }
		h2#skinth2 { background: url('../images/skint_logo.png') no-repeat; width: 303px; height: 152px; top: -10px; left: -30px; line-height: 152; text-indent: 303px }
		h2#loadedh2 { background: url('../images/loaded_logo.png') no-repeat; width: 236px; height: 50px; top: 50px; right: 5px; line-height: 50px; text-indent: 236px }
	#shoppingInfo { float: right; color: #FFF; margin-top: 110px; line-height: 25px }
		#shoppingInfo li { float: left; margin: 0 3px; text-transform: uppercase; font-size: 10px }
			#shoppingInfo a { color: #FFF; display: block }
			#shoppingInfo a:hover { color: #BBB }
			#shoppingInfo a.bag { background: url('../images/basket.png') no-repeat 0 4px; padding-left: 20px }

/* Navigation section */

#nav { height: 25px; background: #444; color: #FFF; font: bold 12px/25px Arial; text-transform: uppercase }
	#menu li { float: left }
		#menu a { color: #FFF; display: block; padding: 0 6px }
		#menu a:hover,#menu a.on { background: #000; color: #DDD }
	#mp3Player { float: right }

/* Breadcrumb */

#breadcrumb { background: #000; margin-top: 10px; color: #BBB; width: 710px; float: left; padding-left: 10px; font: bold 12px/30px Arial; letter-spacing: 1px }
	#breadcrumb a { color: #FFF }
	#breadcrumb a.on { color: #000 }
	#breadcrumb a:hover { text-decoration: underline; }
	
/* Albums section */

#albums { background: #000; padding: 10px 0; height: 97px }
	#albums img { display: block }

	#leftSide { float: left; width: 720px; margin-right: 10px }
	#rightSide { float: left; width: 230px }
		
		/* Main feature section */
		
		#feature { height: 290px; margin-top: 10px; overflow: hidden; float: left; width: 720px; margin-right: 10px }
			#feature .featuredImage { float: left; margin-right: 10px; height: 290px } /* width: 480px;} */
			#feature h2 { font: bold 16px Arial; padding-top: 5px}
			#feature p { color: #555; margin: 10px 5px; font: 11px/16px Arial }
		
		/* Shared classes */

		.coolButton { background: #444; color: #FFF; font: bold 12px/15px Arial; padding: 4px 5px; border: none; text-transform: uppercase; display: inline-block; text-align: right; margin: 0 5px;  }
			.coolButton:hover {background: #000;}
		
		.inner { margin: 0 auto; width: 960px; overflow: hidden }
		
		.col { float: left; margin-right: 10px }
			.col h2 { color: #FFF; background: #000; padding: 0 10px; font: bold 16px/30px Arial; position: absolute; left: -1px; top: -31px; width: 210px }
			.col li { margin: 10px 0; text-align: left }
				.col h3 { font-weight: bold; margin-bottom: 1px; text-align: left }
				.col h3 a {color:#333 }
				.col p { color: #555; font-size: 11px }
		.last { margin-right: 0 }
		.middle { margin-right: 20px }
		
		.box { position: relative; margin-top: 40px }
		
		.noBorder { border: 0; padding: 3px 10px 3px; width: 210px }
			.noBorder h2 { top: -30px }
		.thinBorder { border: 1px solid #CCC; padding: 2px 10px 2px; width: 208px }
		
		.buylisten { background: #FFF; position: absolute; right: 5px; padding-left: 4px; display: inline }
			.buylisten.left { position: static; display: block; margin-top: 2px }
			.buylisten a { overflow: hidden; display: block; float: left; margin: 0 1px  }
				.buylisten .listen { width: 16px; text-indent: 16px; background: url('../images/speaker_icon.png') no-repeat left center }
				.buylisten .buy { width: 15px; text-indent: 15px; background: url('../images/bag_icon.png') no-repeat left center }
				.buylisten .info { width: 14px; text-indent: 14px; background: url('../images/info_icon.png') no-repeat left center }
		
		a.more { float: right; background: url('../images/more_bg.png'); color: #FFF; text-transform: uppercase; font: bold 14px/19px Arial; width: 53px; text-align: center }
			a.more:hover {background-position: -53px 0 }
	
		.addthis_button { margin-bottom: 10px; display: block; width: 125px}

		/* News section */
		
		#news { width: 220px }
			#news h2 { width: 220px }
				#news li { overflow: hidden; height: 65px }
					#news h3 { font-size: 14px; overflow: hidden; max-height: 32px }
						#news h3 a { color: #000 }
							#news h3 a:hover { text-decoration: underline }
					#news p { color: #000 }
					#news img { width: 65px; height: 65px; clear: left; float: left; margin-right: 5px; background: url('../images/placeholder_small.png') }
		
		/* Featured from the Shop section */
		
			#featuredShop li { height: 90px; overflow: hidden }
				#featuredShop h3 a { color: #000; font-size: 14px }
				#featuredShop h3 a:hover { text-decoration: underline }
				#featuredShop li img { background: url('../images/placeholder.png'); float: left; clear: left; width: 90px; height: 90px; margin-right: 8px }
		
		/* Upcoming Dates section */
		
			#upcomingDates { height: 310px}
			#upcomingDates a { color: #000 }
				#upcomingDates a:hover { text-decoration: underline }
				
		/* Sign up to the mailing list section */
		
		#signUp { margin-top: 10px; height: 77px; overflow: auto; background: #E6E6E6; padding: 2px 8px; width: 212px; border-color: #DDD }
			#signUp #ajaxReturn { margin-top: 10px; display: none }
			h2.signupH2 { background: none; padding: 0; color: #000; width: auto; font: bold 12px/14px Arial; position: static }
				.signupH2 big,.signupH2 strong { font: bold 20px/20px Arial; text-transform: uppercase; color: #000 }
				#signUp form { margin-top: 5px }
					#signUp input { border: 1px solid #AAA; float: left; padding: 2px; font-size: 11px; margin: 2px; width: 120px; background: #FFF }
					#signUp label { font-weight: bold; float: left; line-height: 23px; width: 28px; padding: 0 8px 0 5px; clear: left }
					#signUp .go { float: left; background: url('../images/go.png') no-repeat 0 0; text-indent: -200px; overflow: hidden; margin-top: 5px; border: none; width: 34px; height: 20px; cursor: pointer }
					#signUp .go:hover { background-position: -35px 0 }
		

		/* Competitions section */
		
			#competitions li { height: 65px }
				#competitions .headingShortDesc {display: block; height: 45px;}
					#competitions h3 { font-size: 14px }
							#competitions h3 a { color: #000 }
								#competitions h3 a:hover {text-decoration: underline }
				#competitions img { width: 65px; height: 65px; clear: left; float: left; margin-right: 5px; background: url('../images/placeholder_small.png') }
			.comp #competitions li { height: 75px }

		/* Skint Top 10 section	*/
		
		#top10 { padding: 3px 7px 3px; width: 214px; height: 160px}
			#top10 h2 { width: 210px }
			#top10 ul { overflow: hidden; width: 208px }
				#top10 li { width: 500px; font: 11px/16px Arial; color: #555; margin: 0 }
					#top10 li a { color: #555 }
					#top10 li a:hover { color: #000; text-decoration: underline; }

		/* youTube section */
		
		.youTube { margin-top: 10px; width: 230px; height: 245px }
		.videoBar-bar-scroll { height: 250px; overflow: auto; width: 230px }
			.youTube h3 { background: url('/images/youtube_logo_bw_small.jpg') left center no-repeat; height: 28px; padding: 3px 5px 7px 67px; font-weight: normal; color: #ccc }
				.youTube h3 a {color: #ccc }
					.youTube h3 a strong { font-weight: bold; font-size: 14px }
		
/* Entertainment Online section */

#online { background: #000; margin: 40px 0 -10px; padding: 20px; color: #FFF; clear: both }
	#online h2.heading { background: url('../images/online_footer.png') no-repeat; margin: 0 auto -50px; position: relative; top: -50px; width: 280px; height: 66px; line-height: 66px; text-indent: 280px }
	#online .box { border-color: #222 }
	.twitter ul { height: 420px; overflow: hidden }
		.twitter h2 { background: url('../images/twitter_bg.png') no-repeat; color: #000 }
		.twitter li { border-bottom: 1px solid #222; padding-bottom: 10px }
			.twitter li:hover span a {visibility: visible;}
		.twitter li.last { border: none; padding: 0; margin: 0 }
			.twitter a { color: #E6E6E6 }
			.twitter p { color: #E6E6E6; line-height: 1.4; margin-bottom: 3px }
			.twitter small { font-size: 10px; color: #AAA }
				.twitter small a { color: #AAA }
			.twitter li span a { padding-left: 3px; visibility:hidden; }
			.twitter li span a:hover { text-decoration: underline }
		.twitter .footer { display: block; background: url('../images/twitter_logo.png') no-repeat left center; text-align: right; font: 11px/39px Arial; color: #888; margin: 5px -8px 0; padding: 0 10px }
			h2.twitter_skintrecords { background: url('../images/skint_twitter.png') no-repeat; line-height: 50px; color: #000; top: -34px }
				h2.twitter_skintrecords a { color: #000 }
			h2.twitter_loadedrecords { background: url('../images/loaded_twitter.png') no-repeat; color: #FFF }
				h2.twitter_loadedrecords a { color: #FFF }

/* Footer section */

#footer { margin-top: 10px }
#footer .inner  { background: #000; color: #FFF; padding: 10px; width: 940px; font-size: 10px; clear: both }
	#footer .inner a { color: #FFF  } 
	#online + #footer .inner { width: 960px; background: #FFF; color: #000 }
		#online + #footer .inner a { color: #000 }
	#footer .inner .footerMenu { float: right; color: #666; margin-right: -2px }
		#footer .inner .footerMenu a { margin: 0 1px }
					#footer .inner .footerMenu a:hover { margin: 0 1px; text-decoration: underline; }
	
/* Artists Page */
			
#artistsList li { margin: 3px -3px; padding: 0 }
		#artistsList li a { padding: 3px 0; color: #000; font-weight: bold; display: block }	
		#artistsList li a:hover {background-color: #f5f5f5; color:#000; }
			#artistsList .s { background: url('../images/artists/skint_bullet.png') no-repeat 3px 3px; padding-left: 15px!important; }
			#artistsList .l { background: url('../images/artists/loaded_bullet.png') no-repeat 3px 3px; padding-left: 15px!important; }
			#artistsList .a { padding-left: 15px!important }
			#artistsList .on { font-weight: bold; background-color: #EEE; color: #000 }
			#artistsList .greyOut { opacity: 0.6; filter: alpha(opacity=60)}
	.labels { margin: 3px 0 5px; clear: both; overflow: auto}
		.labels a { display: block; margin: 1px 0; padding: 2px 0; background: #555; float: left; text-align: center; width: 5em; margin-right: 5px; padding: 3px; color: #FFF; text-transform: uppercase; font-weight: bold }
		.labels a:hover { background: #000 }
		.labels a.on { background: #000!important; color: #FFF!important }
		
#artistDesc { padding: 10px 0; width: 240px }
	#artistDesc .tempTitle { background: #EEE; height: 60px; margin-bottom: 10px }
	#artistDesc img.logo {  }
	#artistDesc p { margin: 10px 0 }
	#artistDesc a { color: #000 }
	#artistDesc a:hover { color: #888 }

		#releases { width: 470px}
		#releases h2 { width: 450px; left: 0 }
		#releases ul { overflow: hidden; margin-bottom: 10px }
		#releases li { height: 90px; float: left; width: 235px; margin: 10px 0 0 }
			#releases li img { float: left; clear: left; width: 90px; height: 90px; margin-right: 8px }
			#releases h3 { padding-right: 5px; font-size: 14px }
				#releases h3 a { color: inherit }
			#releases p { padding-right: 5px }
			.ArtistReleases {height: 500px; overflow: hidden;}
			#release_prev { margin-left: 0; margin-top: 10px }
			#release_next { margin-right: 0; margin-top: 10px; float: right }

#artistsMain { width: 730px; margin-right: -10px; padding: 0; margin-top: 0}
	#artistsMain h2 { width: 700px }
	#artistsMain ul { overflow: auto }
		#artistsMain li { width: 125px; float: left; margin: 11px 11px 0 0; text-align: center; border: 1px solid #CCC; padding: 4px; height: 145px; overflow: hidden }
		#artistsMain li.nl { clear: left }
		#artistsMain h3 { margin-top: 0px; font-size: 14px; text-align: center; font-weight: normal }
			#artistsMain li span.image { width: 125px; display: block; margin-bottom: 5px; height: 125px; overflow: hidden }
				#artistsMain li span img { display: block }
			#artistsMain li a { color: #555 }
				#artistsMain li a span { display: block }
				#artistsMain li a:hover { color: #000 }
				
	/* Artist Gallery */				

	#galleryPlayer { margin-top: 10px; overflow: hidden; width: 470px }
		#galleryPlayer .image .main { height: 330px; background: url('../images/ajax-loader.gif') no-repeat center center }
		#galleryPlayer .image .main img { display: none; width: 470px; height: 330px }	
		#galleryPlayer ul { float: left; width: 440px; margin-top: 5px}
			#galleryPlayer ul li { padding: 0 5px 0 0; float: left; margin: 0 }
				#galleryPlayer ul li img { background: #EEE; width: 50px; height: 50px; display: block }
		#galleryPlayer .arrows { float: right; width: 30px; margin-top: 5px }
			#galleryPlayer .arrows span { font-weight: bold; text-transform: uppercase; padding: 0 12px }
				#galleryPlayer .arrows a { color: #555; display: block; width: 9px; height: 50px }
			#galleryPlayer .arrows .left { float: left; background: url('../images/artists/left_ar.png') no-repeat left center; width: 9px }
			#galleryPlayer .arrows .right { float: right; background: url('../images/artists/right_ar.png') no-repeat right center; width: 9px }

	/* Social Media Section */
	
	#socialMedia { padding: 0; width: 470px; border: 0 }
		#socialMedia>h2 { left: 0; width: 450px }
		#socialMedia .col { }
			.col .myspace { margin-top: 10px; overflow: hidden; padding: 10px; padding-left: 54px; width: 164px; background: url("../images/artists/myspace.png") no-repeat scroll 10px 10px; }
				.col .myspace h2 { position: static; background: none; color: #000; padding: 0; font: bold 14px/16px Arial; with: auto; margin-bottom: 7px }
				.col .myspace a { color: #666; word-wrap: break-word; display: block }
				.col .myspace a:hover { color: #000 }
			#socialMedia .twitter { padding: 10px; margin-top: 10px; overflow: hidden }
			#socialMedia .twitter h2 { position: static; background: none; font: bold 14px/16px Arial; width: auto; color: #000; padding: 0 }
			#socialMedia .twitter ul { height: 311px }
			#socialMedia .twitter li { border-color: #999 }
			#socialMedia .twitter p { color: #888 }
			#socialMedia .twitter a { color: #888 }
			#socialMedia .twitter small { color: #666 }
			#socialMedia #signUp {padding: 6px 8px; height: 112px }
				#socialMedia #signUp strong { display: block }
			.facebook { margin-top: 10px; height: 246px }
			.FacebookWidget {width:230px; border-bottom: 1px solid #ccc }
			#online .FacebookWidget {border-bottom: 1px solid #222 }
			
/* Events Section */

#events { width: 720px; margin-top: 10px }
	#events ul { margin-bottom: -10px }
		#events .eventList { padding: 10px; border: 1px solid #CCC; margin: 10px 0; overflow: hidden; position: relative }
			#events .eventList img { width: 110px; height: 110px; background: #DDD; float: left; margin-right: 10px }
			#events .eventList h3 { font-size: 14px; line-height: 18px; margin-bottom: 5px }
				#events .eventList h3 a { font-size: 16px; display: block; margin-bottom: 3px; color: #000 }
				#events .eventList .eventStatus { margin-bottom: 3px; color: #333}
			#events .eventList p { font-size: 12px; width: 600px; line-height: 1.3 }
			#events .eventList a.more { display: block; position: absolute; bottom: 15px; right: 20px }
.eventsList ul { margin-bottom: 5px }
.disclaimers { margin-top: 10px; font-size: 0.8em; margin-bottom: -20px }
#newsDesc .EventDate {color: #444; font-size: 14px;}
#newsDesc .EventArtist, #newsDesc .EventTitle {margin-bottom: 5px;}
#newsDesc .EventTitle {font-size: 18px;}

/* Videos page */

#Videos { width: 698px; padding: 10px }		
	#Videos .bigVideo { text-align: center}
	#Videos h2 { width: 701px }
	#Videos .box { padding: 10px }
	#Videos .videoList { width: 688px; padding: 0 5px; margin: 0 auto; vertical-align: middle; text-align: center; margin-top: 15px }
		#Videos .videoList .VideoHolder { float:left; width: 129px; max-height: 150px; display: inline-block; margin-bottom: 10px; color: #555; font-weight: bold }
		#Videos .videoList .VideoHolder + .VideoHolder { margin-left: 10px }
		#Videos .videoList .YoutubeSelected { color: #000 }
		#Videos .VideoHolder:hover {color: #000;}
		#Videos .videoList br { clear: both }
		#ytLast,#ytNext { cursor: pointer; margin: 0 5px; float:left;}
		#ytNext {float:right;}
				#ytLast:active,#ytNext:active { position: relative; top: 1px; left: 1px }
				#ytLast:disabled,#ytNext:disabled { background: #CCC; color: #EEE; top: 0!important; left: 0!important; cursor: default }
		#youtubeComments {clear:both; margin-top: 10px}

/* YouTube Stuff */

div.firstVideo { padding-top: 0px;	background: #ff0000 }

div#channel_div { padding-top: 0px; margin-top: 10px; border: 1px solid #222; padding: 5px }

#videos { padding-top: 0px }

#ytPlayer { background: #000000; border: 1px solid #222; width: 640px; padding: 5px; height: 388px !important; }
.video a.ytLink { float: left }
.video span.ytLink { width: 135px; color: #ccc; font-size: 11px; margin-top: 3px }
.video p { color: #777; margin-top: 1px }
.video .ytLink img { width: 80px; margin: 0 5px 0 0; border: 1px solid #000;}
.video { clear: both; width: 230px; min-height: 70px }
#skintvideos, #loadedvideos { width: 240px; float: left }

/* News page */

	.newsarticle {border: 1px solid #ccc; display: inline-block; width: 718px; padding-bottom: 10px }
		#newsDesc { padding: 10px; width: 328px; padding-bottom: 0 }
			#newsDesc h3 { font-size: 16px; line-height: 1.4; margin-bottom: 10px }
			#newsDesc p { font-size: 12px; line-height: 1.3; margin: 0 0 15px }
			#newsDesc a {text-decoration: underline; color: #333 }
			#newsDesc a:hover {text-decoration: none }
			#newsDesc .disclaimer p {font-size: 10px; color: #666 }
		#newsFeaturedImage { width: 350px; margin-top: 10px; text-align: right; margin-right: 10px; overflow: hidden }
			#newsFeaturedImage img { display: block }
		.bookmark { margin-top: 10px }

/* Gallery Page */

#gallery { margin-top: 5px; width: 720px; overflow: hidden }
	#gallery .image { width: 500px; float: left }
		#gallery .image .main { width: 500px; height: 382px; background: url('../images/ajax-loader.gif') no-repeat center center;text-align: center; }
			#gallery .image .main img { max-width: 500px; max-height: 382px; display: none;  margin: auto; }
		#gallery .image .info { border: 1px solid #CCC; padding: 5px; overflow: hidden; margin-bottom: 10px; }
			#gallery .image .info h3 { padding: 5px; color: #333; float: left; margin-right: 5px }
			#gallery .image .info .social { float: right; padding: 2px 5px }
			#gallery .image .info .arrow { padding: 3px 5px }
	#gallery ul { float: left; width: 220px; height: 387px }
		#gallery ul li { padding: 0 0 5px 5px;  float: left; margin: 0 }
			#gallery ul li img { background: #EEE; width: 50px; height: 50px; display: block }
	#gallery .arrows { float: right; margin-left: 5px; width: 215px; padding: 6px 0 }
		#gallery .arrows span { font-weight: bold; text-transform: uppercase; padding: 0 12px }
			#gallery .arrows a { color: #555 }
			.pagination a  { color: #555; padding: 0 10px;}
		#gallery .arrows .left, .pagination .PreviousPage  { float: left; background: url('../images/gallery_left.png') no-repeat left center }
		#gallery .arrows .right, .pagination .NextPage { float: right; background: url('../images/gallery_right.png') no-repeat right center; text-align: right }
		
/* Contact Page */

#Contact form { padding-bottom:0; padding-top:10px; }
	#Contact form.signup { padding:0; }
#Contact h3 { margin-bottom:5px; margin-left:0; margin-right:0; margin-top:5px; }
#Contact a { color: #000; }
	#Contact a:hover { text-decoration: underline; }
#Contact .go { float: right; background: url('../images/go.png') no-repeat 0 0; text-indent: -200px; overflow: hidden; margin-top: 5px; border: none; width: 34px; height: 20px; cursor: pointer }
	#Contact .go:hover { background-position: -35px 0 }
#Contact p { margin-bottom: 10px; }
#Contact.thinBorder { margin-top:0; width:698px; }
	.form_main h3 { font-size: 14px; margin-bottom: 10px; }
	.contactform { display:block; float:left; margin-bottom:10px; margin-left:0; margin-right:0; margin-top:3px; width:321px; }
		.contactright {float: right;}
		.form_label { font-weight: bold; margin-bottom: 3px; margin-top: 5px; color: #555; float: left; width: 115px;}
		.form_input {margin-bottom: 5px;}
			select, input[type=text], input[type=password], textarea { border: 1px solid #ccc; color: #555; font-size: 11px; padding: 2px; margin: 2px 0 }
			#Contact textarea { height: 55px; }
		.form_input input, .form_input select { width:206px; }
#Contact #ajaxReturn { margin-top: 15px }
.submitButton {text-align: right;}
.form_footer .coolButton {float:right;}
	.submitButton .coolButton, .form_footer .coolButton {margin-right: 0;}

.tweetThis { clear: both; margin-top: 10px }