@charset "utf-8";
/* Facebook Fan CSS for Skint */

.fan_box
.full_widget {
	border: 1px solid #ccc;
	border-bottom: none !important;
}
.fan_box
.connections {
	background-color: #FFF;
	border: none;
	color: #04d0c1;
}
.fan_box
.connections_grid
.grid_item
.name {
	color: #555; 
}

.fan_box .full_widget .connect_top {background: #ffffff;}
.fan_box .connections {background: #ffffff; color: #555555;border-top: #ccc 1px solid; padding:10px 0 4px 8px }
.fan_box .connect_action .name {display:block;}
.fan_box .connections_grid .grid_item {padding-right: 4px !important;}